[data-testid="stSidebar"]{
    background-color: rgba(2, 2, 46, 0.925);
    border-radius: 1%;
    border-color: transparent;
    
}
.stMarkdown h1{
    background-color: rgba(125, 187, 245, 0.712);
    border-radius: 2%;
    border-color: transparent;
    color: rgba(255, 255, 255, 255);
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}
div [data-baseweb="select"]>div{
    background-color: rgba(3, 19, 48, 0.486);  
    color: rgba(255, 255, 255, 0.795);
    border-color: rgba(114, 171, 218, 0.651);
    border-radius: 3%;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
}
label.css-81oif8.effi0qh3 {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 16px;
    text-align: left;
}
div.bk bl bm bn b1 {
    color: rgb(255, 255, 255);
}
.css-demzbm.e88czh83 {
    background-color: beige;
}
.css-1inwz65.e88czh80 {
    border-radius: 30%;
    background-color: white;
    font-family: sans-serif;
    font-size: 16px;
    text-align: left;
}
.StyledThumbValue.css-10y5sf6.e88czh82{
    color: rgba(241, 241, 241, 0.925);
    font-family: sans-serif;
    font-size: 16px;
    text-align: left;
}
.st-au.st-av.st-aw.st-ax.st-e5.st-d9.st-b6.st-da.st-db{
    background-color: aliceblue;
}
section.main.css-k1vhr4.egzxvld3{
    background-color: rgba(83, 83, 85, 0.37);
}
.plot-container.plotly {
    border-radius: 30%;
    background-color: white;
}
path {
    color: white;
}
p {
    color: rgba(5, 2, 49, 0.719);
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;   
}
svg.e1fb0mya1.css-fblp2m.ex0cdmw0{
    color: rgba(2, 2, 46, 0.925);
    background-color: rgba(2, 2, 46, 0.925);
    border-radius: 20%;
}
h1#sampling-studio-for-biological-signals{
    color: rgb(248, 249, 255);
    background-color: rgba(2, 2, 46, 0.925);
    border-radius: 3%; 
}

button.css-1prua9e.edgvbvh9{
    color: rgb(255, 255, 255);
    font-size: 24px;
    background-color: rgba(115, 185, 252, 0.719);;
    border-radius: 5%;
    border-color: rgba(2, 2, 46, 0.925);
    line-height: 1.9;
    width: 23%;   
}
header.css-18ni7ap.e8zbici2{
    color:rgb(49, 51, 63);
    display: none;
}
